/* #wrapper{
    text-align: center;
} */

#addItemDiv{
margin: auto;
width: 50%;
text-align: center;
}


#addAisleDiv{
    margin: auto;
    width: 50%;
    text-align: center;
    }

    input{
        width: 60rem;
        height: 3rem;
        border-color: light-grey;
        margin-bottom: .5rem;
    }