#itemDisplay{
    width:50%;
    text-align: center;
    border-right: 5px solid black;
   min-height: 500px;

}
#itemDisplay h2{
    text-align: center;
}

.item{
border-style: solid;

    margin: 1em;
    padding: 1em;
    height: 3em;
    cursor: pointer;
    border-radius: 25%;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}



.item:hover{
    color: purple;
    cursor: pointer;
    background-color: green !important;

}