body{

text-align: center;
}

.flex-container {

    display: flex;

  }


  .container{

    overflow:auto;
  }
  
  #nav{float:right;

  }
  
  #logo h1{float:left;
    padding-left: 1rem;}
  
  #nav li{
    display: inline-block;
     padding:10px;
    font-size:20px;
    color: red;
  }

  #nav link{

    color: rgb(0, 255, 102);

  }
  
  li:hover{
    color:orange;
    
  }