h2{
    font-size: 2rem;
}

#aisleDisplay{

    height: 100%;
    margin: auto;

    text-align: center;
    font-size: large;
    font-weight: bold;
    color: black;
    align-items: center;
    justify-content: center;
    background-color: 
    rgb(181, 247, 186)
    ;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.aisleDiv{
    margin: 1em;
    padding: 1em;
    border: 3px solid black;
    border-radius: 25%;
    width: 10em;
    height: 40px;
    overflow: hidden;
    word-wrap: break-word;
    background-color: rgb(164, 206, 167);
}


     .aisleDiv a:hover {
        color: green !important;
        } 


#aisles{
    text-align: center;
    width:85%;
    margin: auto;
}
